<footer class="container">
    <div class="box">
        <h3>©2025 Domus Residence <br> Todos os direitos reservados</h3>
    </div>
    <nav>
        <a href="#">Home</a>
        <a href="#immobiles">Propriedades</a>
        <a href="#faq">Faq</a>
        <a href="#about">Sobre</a>
        <a href="#contact">Contato</a>
    </nav>
    <div class="footer-icons">
        <fa-icon [icon]="faFacebook" class="icon" />
        <fa-icon [icon]="faTwitter" class="icon" />
        <fa-icon [icon]="faInstagram" class="icon" />
    </div>
</footer>

<div class="copyright">
    <p>Desenvolvido com ❤️, por <a href="https://www.mystdev.com.br/" target="_blank">Myst1 Dev</a></p>
</div>