<header class="container" #header>
    <nav [class.menu-open]="isMenuOpen" #nav>
        <a href="#" (click)="toggleMenu()">Home</a>
        <a href="#immobiles" (click)="toggleMenu()">Propriedades</a>
        <a href="#faq" (click)="toggleMenu()">Faq</a>
        <a href="#about" (click)="toggleMenu()">Sobre</a>
        <a href="#contact" (click)="toggleMenu()" id="contact-responsive">Contato</a>
    </nav>
    <a href="/">
        <img ngSrc="/images/logo.webp" width="100" height="100" alt="logo da construtora">
    </a>
    <div class="box">
        <a href="#contact">Contato</a>
    </div>
    <fa-icon [icon]="faBars" (click)="toggleMenu()" class="icon" />
</header>
<hr class="header-line" #line>
