header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    a {
        font-weight: 500;
        font-size: 16px;
        transition: 0.3s;

        &:hover {
            color: #303030;
        }
    }

    nav {
        display: flex;
        gap: 12px;
        flex: 1;

        #contact-responsive {
            display: none;
        }
    }

    h1 {
        flex: 0 0 auto;
    }

    .box {
        flex:1;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 20px;

    }

    button, #nav-btn {
        padding: 10px;
        border: none;
        border-radius: 6px;
        font-size: 15px;
        font-weight: 600;
        background-color: #242424;
        color: #fff;
        cursor: pointer;
        transition:0.3s;

        &:hover {
            background-color: #5c5c5c;
        }
    }

    #nav-btn {
        display: none;
    }

    .icon {
        cursor: pointer;
        display: none;
    }
}

.header-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

@media(max-width:991px) {
    header {

        .box {
            display: none;
        }

        nav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            gap: 12px;
            top: 75px;
            left: 0;
            width: 100%;
            height: 0;
            background-color: #303030;
            color: #fff;
            transition:height 0.3s;
            overflow:hidden;

            a {
                font-size: 20px;
            }

            #contact-responsive {
                display: block;
            }

            &.menu-open {
                height: 30vh;

                #nav-btn {
                    display: block;
                }
            }
        }
      
        .icon {
            display: block;
        }
    }
}