<section class="immobiles-section container">
    <h2>Navegue por nossos imóveis</h2>

    <div class="immobiles-container">
        <div class="immobiles-box">
            <img ngSrc="/images/property.webp" width="350" height="200" alt="foto do imóvel">
            <div class="text-box">
                <h6>Tasman Aris Estate</h6>
                <div class="location-box">
                    <fa-icon class="icon" [icon]="faMapMarker"></fa-icon>
                    <p>São Gonçalo - RJ</p>
                </div>
               
            </div>
            <div class="icons-box">
                <div class="box">
                    <fa-icon class="icon" [icon]="faBed"></fa-icon>
                    <h6>4</h6>
                </div>
                <div class="box">
                    <fa-icon class="icon" [icon]="faBath"></fa-icon>
                    <h6>2</h6>
                </div>
                <div class="box">
                    <fa-icon class="icon" [icon]="faVectorSquare"></fa-icon>
                    <h6>410 m²</h6>
                </div>
            </div>
            <a href="">Detalhes</a>
        </div>
        <div class="immobiles-box">
            <img ngSrc="/images/property.webp" width="350" height="200" alt="foto do imóvel">
            <div class="text-box">
                <h6>Tasman Aris Estate</h6>
                <div class="location-box">
                    <fa-icon class="icon" [icon]="faMapMarker"></fa-icon>
                    <p>São Gonçalo - RJ</p>
                </div>
               
            </div>
            <div class="icons-box">
                <div class="box">
                    <fa-icon class="icon" [icon]="faBed"></fa-icon>
                    <h6>4</h6>
                </div>
                <div class="box">
                    <fa-icon class="icon" [icon]="faBath"></fa-icon>
                    <h6>2</h6>
                </div>
                <div class="box">
                    <fa-icon class="icon" [icon]="faVectorSquare"></fa-icon>
                    <h6>410 m²</h6>
                </div>
            </div>
            <a href="">Detalhes</a>
        </div>
        <div class="immobiles-box">
            <img ngSrc="/images/property.webp" width="350" height="200" alt="foto do imóvel">
            <div class="text-box">
                <h6>Tasman Aris Estate</h6>
                <div class="location-box">
                    <fa-icon class="icon" [icon]="faMapMarker"></fa-icon>
                    <p>São Gonçalo - RJ</p>
                </div>
               
            </div>
            <div class="icons-box">
                <div class="box">
                    <fa-icon class="icon" [icon]="faBed"></fa-icon>
                    <h6>4</h6>
                </div>
                <div class="box">
                    <fa-icon class="icon" [icon]="faBath"></fa-icon>
                    <h6>2</h6>
                </div>
                <div class="box">
                    <fa-icon class="icon" [icon]="faVectorSquare"></fa-icon>
                    <h6>410 m²</h6>
                </div>
            </div>
            <a href="">Detalhes</a>
        </div>
    </div>

    <div class="arrows-container">
        <div class="box">
            <fa-icon [icon]="faArrowLeft" />
        </div>
        <div class="box">
            <fa-icon [icon]="faArrowRight" />
        </div>
    </div>
</section>