main {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.intro {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: 40px;
    }

    .box {
        flex-direction: column;
        display: flex;
        height: 144px;
        justify-content: space-between;

        p {
            font-weight: 300;
            max-width: 400px;
        }
    }
}

@media(max-width:991px) {
    .intro {
        gap:30px;

        h2 {
            font-size: 30px;
        }
    }
}