<main>
    <section class="intro container">
        <h2>Guiando seu caminho <br> para um novo lar <br> no Domus Residence</h2>
        <div class="box">
            <h3>©2025 Domus Residence <br> Todos os direitos reservados</h3>
            <p>Com orientação especializada e um profundo conhecimento do estado, tornamos a viagem para uma nova casa tranquila e sem estresse</p>
        </div>
    </section>
    <app-filter />
    <app-video />
    <app-immobiles />
    <app-contact />
    <app-faq />
</main>
