<section id="contact" class="contact">
    <div class="bg"></div>
    <div class="form-container">
        <h2>Não encontrou o que estava procurando?</h2>
        <form action="">
            <div class="input-container">
                <div class="input-box">
                    <label for="firstName">Primeiro Nome</label>
                    <input type="text" name="firstName" id="firstName" placeholder="Peter">
                </div>
                <div class="input-box">
                    <label for="secondName">Segundo Nome</label>
                    <input type="text" name="secondName" id="secondName" placeholder="Parker">
                </div>
            </div>
            <div class="input-box">
                <label for="iWant">Eu quero</label>
                <select name="iWant" id="iWant">
                    <option value="Comprar propriedade">Comprar propriedade</option>
                    <option value="Vender propriedade">Vender propriedade</option>
                    <option value="Alugar propriedade">Alugar propriedade</option>
                </select>
            </div>
            <div class="input-box">
                <label for="anotations">Anotações</label>
                <textarea name="anotations" id="anotations"></textarea>
            </div>
            <button>Enviar</button>
        </form>
    </div>
</section>
