<section class="faq container">
    <div class="box-text">
        <h2>Perguntas frequentes</h2>
        <p>Se você procura um apartamento moderno na cidade ou uma casa tranquila nos subúrbios, nossa companhia oferece boas opções para todos.</p>
    </div>
    <div class="questions">
        <div class="box" *ngFor="let question of questions; index as i">
          <div class="title-box">
            <h6>{{ question.title }}</h6>
            <fa-icon (click)="toggleAccordion(i)" [icon]="faChevronDown" class="icon" [ngStyle]="{ transform: activeIndex === i ? 'rotate(180deg)' : 'rotate(0)' }" />
          </div>
          <p [ngClass]="{ 'acordion-open': activeIndex === i }">{{ question.text }}</p>
        </div>
      </div>      
</section>
