<section class="filter container">
    <div class="filter-container">
        <div class="input-container">
            <div class="input-box">
                <label for="search-for">Procurando por</label>
                <input type="text" name="search-for" id="search-for" placeholder="O que procurar">
            </div>
            <div class="input-box">
                <label for="type">Tipo</label>
                <select name="type" id="type">
                    <option value="">Tipo de propriedade</option>
                    <option value="Residencial">Residencial</option>
                    <option value="Condominio">Condominio</option>
                </select>
            </div>
            <div class="input-box">
                <label for="price">Procurando por</label>
                <input type="number" name="price" id="price" placeholder="Preço">
            </div>
            <div class="input-box">
                <label for="location">Localização</label>
                <select name="location" id="location">
                    <option value="">Todas as cidades</option>
                    <option value="São Gonçalo">São Gonçalo</option>
                    <option value="Niteroi">Niteroi</option>
                </select>
            </div>
        </div>
        <button (click)="search()">
            <fa-icon [icon]="faSearch"></fa-icon>
            Pesquisar
        </button>
    </div>
</section>