<main>
    <div class="immobile-container container">
        <div class="immobile-box">
            <div class="img-container">
                <img (click)="open(0)" [ngSrc]="immobile?.img || '/images/property.webp'" width="400" height="300" alt="foto do imóvel">
                <div class="other-img-box scrollDontShow">
                    <img
                        *ngFor="let item of immobile?.perspectiveImgs; let i = index"
                        (click)="open(i + 1)"
                        [ngSrc]="item || '/images/property.webp'"
                        width="200"
                        height="100"
                        alt="foto do imóvel"
                    />
                </div>
                <button *ngIf="lightboxIsOpen" class="lightbox-close-btn" (click)="close()">
                    ✕
                </button>
            </div>
            <div class="immobile-info">
                <div class="box">
                    <h2>{{immobile?.title || 'Tasman Aris State'}}</h2>
                    <div class="location">
                        <fa-icon class="icon" [icon]="faMapMarker" />
                        <h5>{{immobile?.location || 'São Gonçalo, RJ'}}</h5>
                    </div>
                    <span class="price">R${{immobile?.price || 1500}}</span>
                </div>
                <div class="broker-box">
                    <img [ngSrc]="immobile?.ownerImg || '/images/user1.webp'" width="60" height="60" alt="foto do corretor do imóvel">
                    <h6>{{immobile?.ownerName || 'John Doe'}}</h6>
                </div>
            </div>
            <p>{{immobile?.description || 'Loren ipsun is simply dummy about the loren industry Domus key.'}}</p>
        </div>
        <div class="immobile-details">
            <div class="general">
                <h3>General</h3>
                <div class="general-box">
                    <div class="box">
                        <fa-icon class="icon" [icon]="faTools" />
                        <div>
                            <h6>Utilitários</h6>
                            <p>O locatário é responsável</p>
                        </div>
                    </div>
                    <div class="box">
                        <fa-icon class="icon" [icon]="faPaw" />
                        <div>
                            <h6>Política para animais de estimação</h6>
                            <p>Animais de estimação permitidos</p>
                        </div>
                    </div>
                    <div class="box">
                        <fa-icon class="icon" [icon]="faMoneyCheckDollar" />
                        <div>
                            <h6>Taxas de propriedade</h6>
                            <p>Deve ter 3x o aluguel na renda familiar total</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="general">
                <h3>Tamanho dos quartos</h3>
                <div class="room-box">
                    <div class="box">
                        <fa-icon class="icon" [icon]="faExpand" />
                        <h6>{{immobile?.propertySize || 89}} m²</h6>
                    </div>
                    <div class="box">
                        <fa-icon class="icon" [icon]="faBed" />
                        <h6>{{immobile?.bedNumbers || 2}} Camas</h6>
                    </div>
                    <div class="box">
                        <fa-icon class="icon" [icon]="faBath" />
                        <h6>{{immobile?.bathNumbers || 3}} Banheiros</h6>
                    </div>
                </div>
            </div>
            <div class="general">
                <h3>Lugares próximos</h3>
                <div class="local-box">
                    <div class="box">
                        <fa-icon class="icon" [icon]="faSchool" />
                        <div>
                            <h6>Escola</h6>
                            <p>250m de distância</p>
                        </div>
                    </div>
                    <div class="box">
                        <fa-icon class="icon" [icon]="faBus" />
                        <div>
                            <h6>Ponto de ônibus</h6>
                            <p>250m de distância</p>
                        </div>
                    </div>
                    <div class="box">
                        <fa-icon class="icon" [icon]="faUtensils" />
                        <div>
                            <h6>Restaurante</h6>
                            <p>250m de distância</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3>Localização</h3>
                <div id="map" style="height: 200px; width: 100%;"></div>
            </div>
            <a href="#" target="_blank" rel="noopener noreferrer">
                <fa-icon class="icon" [icon]="faPhoneAlt" />
                Entre em contato
            </a>
        </div>
    </div>
</main>
